<html>
<head>
	<title>Index</title>
	<style type="text/css">
		.c1{
			background-image: url("../asset/abc.jpg");
			color: white;
		}
		.c1:hover{
			opacity: 0.8;
		}
		.c2{
			background-color: gainsboro ;
		}
		.c3{
			background-color: gainsboro ;
		}
		.mid{
			background-color: gainsboro ;
		}
		img{
			width: 225px;
			border-radius: 50%;
		}
	</style>
</head>
<body>
	<table height="100%" width="100%">
		<tr height="20%">
			<td width="15%" class="c2">
				<a href="index.html"><img src="../asset/real.jpg" alt="Avatar"></a>
			</td>
			
			<td align="center" class="c1">
				<h1>Real Estate Management System</h1>
				<h4>Build your dream home</h4>
			</td>
			
			<td width="15%" align="center" class="c2">
				<a href="login.php">Login</a><br><br> 
				<a href="registration.html">Create Account</a>
			</td>
			
		</tr>
		
		<tr>
			<td align="center" class="c3">
				<h3><u>Categories</u></h3>
				<ul align="left">
					<li><a href=""> Ready Projects </a></li><br>
					<li><a href=""> Ongoing Projects </a></li><br>
					<li><a href=""> Available To-Lets </a></li><br>
					<li><a href=""> Contact Us </a></li><br>
				</ul>
			</td>
			
			<td align="center" class="mid">
				<h2>Welcome to Real Estate Management System</h2>
				<b>Book your dream home today!<br><br>
				Create your own account, browse the website and book your dream home.
				</b><br><br>
				
				<table border="1" width="100%">
					<tr>
						<th>E-mail Us</th>
						<th>Contact Us</th>
						<th>Visit Us</th>
						<th>Any queries?</th>
					</tr>
					<tr align="center">
						<td>
							info@realestate.com<br>
						</td>
						<td>
							+8801234567890<br>
						</td>
						<td>
							K/11, Dhanmondi, Dhaka, Bangladesh<br>
						</td>
						<td>
							Call 12345 (Toll free)<br>
						</td>
					</tr>
				
				</table>				
			</td>
			<td class="c3"></td>
		</tr>
	
	</table>

</body>
</html> 