<html>
<head>
	<title>Create Account</title>
	<link rel="stylesheet" type="text/css" href="../css/regi.css">
	<script type="text/javascript" src="../js/registration_check.js"></script>
</head>
<body>
	<table height="100%" width="100%">
		<tr height="20%">
			<td width="15%">
				<a href="../index.html"><img src="../asset/real.jpg", height="165px", width="260px"></a>
			</td>
			
			<td align="center" class="c1">
				<h1>Real Estate Management System</h1>
				<h4>Build your dream home</h4>
			</td>
			
			<td width="15%" align="center" class="c2">
				<a href="login.php">Login</a><br><br> 
				<a href="registration.html">Create Account</a>
			</td>
			
		</tr>
		
		<tr>
			<td align="center" class="c3">
				<h3><u>Categories</u></h3>
				<ul align="left">
					<li><a href=""> Ready Projects </a></li><br>
					<li><a href=""> Ongoing Projects </a></li><br>
					<li><a href=""> Available To-Lets </a></li><br>
					<li><a href=""> Contact Us </a></li><br>
				</ul>
			</td>
			
			<td align="center" class="mid">
				<form id="register" method="post" action="../controller/registration_check.php" onsubmit="validation()">
					<fieldset style="width:500px" class="register">
						<legend>Create Account</legend>
						<table>
							<tr>
								<td>Username : </td>
								<td><input id="inuser" type="text" name="username" onkeyup=" usernotnull()"><br><span id='userN'></span></td>
							</tr>
							<tr>
								<td>Password : </td>
								<td><input id="inpass" type="password" name="password" onkeyup="passnotnull()"><br><span id='pass'></span></td>
							</tr>
							<tr>
								<td>Confirm Password : </td>
								<td><input id="incpass" type="password" name="cpassword" onkeyup="cpassnotnull()"><br><span id='cpass'></span></td>
							</tr>
							<tr>
								<td>Name : </td>
								<td><input id="inname"  type="text" name="name" onkeyup="namenotnull()"><br><span id='name'></span></td>
							</tr>
							<tr>
								<td>Email : </td>
								<td><input id="inemail" type="email" name="email" onkeyup="emailnotnull()"><br><span id='email'></span></td>
							</tr>
							<tr>
								<td>Date of Birth : </td>
								<td><input id="indob" type="date" name="dob" onkeyup="dobnotnull()"><br><span id='dob'></span></td>
							</tr>
							<tr>
								<td>Gender : </td>
								<td>
									<input id="male" type="radio" name="gender" value="male" onclick="gendernotnul()"> Male
									<input id="female" type="radio" name="gender" value="female" onclick="gendernotnul()"> Female
									<input id="other" type="radio" name="gender" value="other" onclick="gendernotnul()"> Other  
									<br><span id='gender'></span>
								</td>
							</tr>
							<tr>
								<td>Blood Group : </td>
								<td>
									<select id="inbg" name="bg">
										<option value="" onclick="bgnotnull()"></option>
										<option value="O+" onclick="bgnotnull()">O+</option>
										<option value="O-" onclick="bgnotnull()">O-</option>
										<option value="A+" onclick="bgnotnull()">A+</option>
										<option value="A-" onclick="bgnotnull()">A-</option>
										<option value="B+" onclick="bgnotnull()">B+</option>
										<option value="B-" onclick="bgnotnull()">B-</option>
										<option value="AB+" onclick="bgnotnull()">AB+</option>
										<option value="AB-" onclick="bgnotnull()">AB-</option>
									</select>  
									<br><span id='bg'></span>
								</td>
							</tr>
							
							<tr>
								<td></td>
								<td><div class="red"><input type="submit" name="Submit" value="Submit" ></div></td>
							</tr>
						</table>
					</fieldset>
				</form>
>
			</td>
			<td class="c3"></td>
		</tr>
	
	</table>

</body>
</html>